.footer {
    background-color: var(--color-primary);
    color: var(--color-text);
    text-align: center;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer p {
    margin: 0 10px;
    cursor: pointer;
    padding-bottom: 5px;
}